@font-face{font-family:Courier;font-style:basic;src:url("../fonts/cour.ttf")}
body{font-family:Courier}
header{margin:0;padding:0;width:100%;}
header img{cursor:pointer;filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;width:100%}
header img:hover{filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease}
header ul{margin:0 auto;padding:0;margin-top:8px;text-align:center;width:90%;}
header ul li{color:#7f8c8d;display:inline-block;vertical-align:middle;}
header ul li img{width:115px;}
header ul li img.logo{width:195px}
header ul li p{font-size:18px}
header #divider{border-bottom:2px solid #7f8c8d;margin:0 auto;padding:0;width:95%}
#menu{border-bottom:2px solid #7f8c8d;margin:0 auto;padding:0;width:90%;}
#menu ul{margin:0 auto;padding:0;margin-top:15px;text-align:center;width:100%;}
#menu ul li{display:inline-block;font-size:20px;vertical-align:middle;}
#menu ul li a{font-size:20px;text-decoration:none}
#menu ul li a:hover{font-weight:bold}
#menu ul li.separate{padding:0 25px 0 25px}
#social-menu{margin:0;padding:0;margin-top:10px;text-align:center;width:100%;}
#social-menu #post-here,#social-menu #networks{display:inline-block;vertical-align:middle}
#social-menu #post-here{float:left;margin-top:13px;width:35%;}
#social-menu #post-here a{font-size:20px;text-decoration:none}
#social-menu #post-here a:hover{cursor:pointer;text-decoration:underline}
#social-menu #networks{width:90%;}
#social-menu #networks ul{margin:0 auto;padding:0;text-align:right;width:100%;}
#social-menu #networks ul li{display:inline-block;vertical-align:middle;}
#social-menu #networks ul li img{-o-transform:scale(1,1);-ms-transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms;width:38px}
#social-menu #networks ul li img:hover{cursor:pointer;-o-transform:scale(1.35,1.37);-ms-transform:scale(1.35,1.37);-moz-transform:scale(1.35,1.37);-webkit-transform:scale(1.35,1.37);-o-transition-timing-function:ease-in;-ms-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;-webkit-transition-timing-function:ease-in;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms;position:relative;z-index:99}
.container{margin-top:15px;text-align:justify;}
.container #text{padding:50px 0 50px 0;text-align:center;}
.container #text h1,.container #text h2{font-size:125px;letter-spacing:25px}
.container #text h2{padding-top:75px}
.container #social{margin-top:45px;text-align:center;}
.container #social ul{margin:0 auto;padding:0;width:80%;}
.container #social ul li{display:inline-block;vertical-align:middle;width:30%;}
.container #social ul li img{-o-transform:scale(1,1);-ms-transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms;width:90px}
.container #social ul li img:hover{cursor:pointer;-o-transform:scale(1.35,1.37);-ms-transform:scale(1.35,1.37);-moz-transform:scale(1.35,1.37);-webkit-transform:scale(1.35,1.37);-o-transition-timing-function:ease-in;-ms-transition-timing-function:ease-in;-moz-transition-timing-function:ease-in;-webkit-transition-timing-function:ease-in;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms;position:relative;z-index:99}
.container article{padding-bottom:15px;}
.container article img,.container article img.img-post{width:100%}
.container article img.img-post{-webkit-border-radius:45px}
.container article figure,.container article .far{display:inline-block;vertical-align:middle}
.container article figure{width:75px}
.container article div.far{margin-left:2%;width:80%;}
.container article div.far p{font-size:14px;margin:0;padding:0}
.container article div.far .fear,.container article div.far .aspiration,.container article div.far .regreat,.container article div.far .info{margin:0;padding:0}
.container article div.far .info{color:#868686;font-size:12px;font-weight:bold;text-align:left;width:100%}
.container article div.share{backgrund-color:#d5d5d5;display:none;}
.container article div.share ul li{display:inline-block;vertical-align:middle;}
.container article div.share ul li a.share-facebook,.container article div.share ul li a.share-twitter{-webkit-border-radius:10px;color:#fff;font-family:Helvetica;padding:10px;text-decoration:none}
.container article div.share ul li a.share-facebook{background-color:#3b5998}
.container article div.share ul li a.share-twitter{background-color:#31b6e3;width:250px}
.container article div.share ul li:hover{cursor:pointer}
.container article .text-about{color:#000;font-size:15px;line-height:170%;}
.container article .text-about i{text-style:italic}
.container article div.story-far{margin-bottom:10px;}
.container article div.story-far p{margin:0;padding:0;text-align:left}
.container article div.story-info{margin-bottom:10px;}
.container article div.story-info p{font-size:13px;font-weight:bold;margin:0;padding:0;text-align:left}
.container article div.story-bio{margin-bottom:5px;}
.container article div.story-bio p{font-size:15px;margin-top:2px;padding:0;text-align:left}
.container #post-form{margin:0 auto;padding:0;text-align:center;width:95%;}
.container #post-form h1{font-weight:bold;font-size:35px}
.container #post-form #social-login{width:100%;}
.container #post-form #social-login a.fb-login,.container #post-form #social-login a.tw-login{display:inline-block;font-weight:bold;font-size:20px;text-align:center;text-decoration:none;vertical-align:middle;width:40%}
.container #post-form #social-login a.fb-login:hover,.container #post-form #social-login a.tw-login:hover{text-decoration:underline}
.container #post-form #social-login a.fb-login{color:#3b5998}
.container #post-form #social-login a.tw-login{color:#31b6e3}
.container #post-form #login{margin:0 auto;padding:0;padding-top:25px;width:65%;}
.container #post-form #login span{margin:0;padding:0;width:100%;}
.container #post-form #login span label,.container #post-form #login span input,.container #post-form #login span textarea,.container #post-form #login span select{color:#000;display:inline-block;font-size:15px;margin:0;padding:0;margin-bottom:8px;padding:5px 0 5px 0;vertical-align:top}
.container #post-form #login span label{font-size:15px;font-weight:bold;text-align:right;width:18%}
.container #post-form #login span input,.container #post-form #login span textarea,.container #post-form #login span select{width:70%}
.container #post-form #login button{font-size:15px;width:130px}
footer{margin:0;padding:0;width:100%;}
footer ul{margin:0 auto;padding:0;margin-top:8px;text-align:center;width:90%;}
footer ul li{display:inline-block;font-size:15px;vertical-align:top;}
footer ul li a{text-decoration:none}
footer ul li a:hover{font-weight:bold}
@media only screen and (max-width: 479px){header ul li.hide{display:none}
.container{text-align:center;}
.container img{width:100%}
.container #text{padding:40px 0 40px 0;}
.container #text h1,.container #text h2{font-size:60px;letter-spacing:10px}
.container #text h2{padding-top:25px}
.container #social{margin-top:45px;}
.container #social ul{width:100%;}
.container #social ul li img{width:64px}
.container #social ul li img:hover{-o-transform:scale(1,1);-ms-transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms}
.container article div.story-far,.container article div.story-info,.container article div.story-bio{text-align:left}
}@media only screen and (min-width: 480px) and (max-width: 767px){header img{cursor:pointer;filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;width:100%}
header ul{text-align:center;width:90%;}
header ul li.hide{text-align:center;}
header ul li.hide.ballon{width:10%}
header ul li.hide.dot p{font-size:10px;letter-spacing:-3px}
header ul li img{width:100%;}
header ul li img.logo{width:120px}
.container{text-align:center;}
.container img{width:100%}
.container #text{padding:40px 0 40px 0;}
.container #text h1,.container #text h2{font-size:90px;letter-spacing:10px}
.container #text h2{padding-top:25px}
.container #social{margin-top:45px;}
.container #social ul{width:100%;}
.container #social ul li img{width:64px}
.container #social ul li img:hover{-o-transform:scale(1,1);-ms-transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms}
.container article div.story-far,.container article div.story-info,.container article div.story-bio{text-align:left}
}@media only screen and (min-width: 768px) and (max-width: 959px){header img{cursor:pointer;filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;width:100%}
header ul{text-align:center;width:90%;}
header ul li img{width:70px;}
header ul li img.logo{width:170px}
header ul li p{font-size:13px;letter-spacing:-3px}
.container{text-align:center;}
.container img{width:100%}
.container #text{padding:40px 0 40px 0;}
.container #text h1,.container #text h2{font-size:90px;letter-spacing:10px}
.container #text h2{padding-top:25px}
.container #social{margin-top:45px;}
.container #social ul{width:80%;}
.container #social ul li img{width:90px}
.container #social ul li img:hover{-o-transform:scale(1,1);-ms-transform:scale(1,1);-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-o-transition-duration:250ms;-ms-transition-duration:250ms;-moz-transition-duration:250ms;-webkit-transition-duration:250ms}
.container article div.story-far,.container article div.story-info,.container article div.story-bio{text-align:left}
}