{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/kid"><img src="/img/ballons/Esfera5.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/jake"><img src="/img/ballons/Esfera6.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test">[ looking<strong>FAR</strong> ]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/brett"><img src="/img/ballons/Esfera7.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/airmen"><img src="/img/ballons/Esfera8.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		<!--h1>About Looking[FAR]</h1-->

		<article>
			<p class="text-about">
				This Project is a work in progress that seeks to connect people by asking three simple, yet universal questions:
				<br><br>
				In life; what are your <strong>Fears</strong>, <strong>Aspirations</strong> and <strong>Regrets</strong>?
			</p>	

			<p class="text-about">
				By cataloguing portraits of people all over the world with their answers, age, name and location, the project aspires to become an artwork that also serves as a reference point for the emotional and psychological human condition. All with the hope of triggering a fruitful retrospection, both in the reader and the participant.
				<br><br>
				Its genesis lies in a mixture of personal passions, curiosities and self doubts. A personal passion for art, photography and the general communication of human expression through an image. A sincere curiosity of the human condition and trans-cultural idiosyncrasies and the daunting self doubts of transitioning through life’s stages with a continuous personal search for answers and the redeeming calm to be found in them. 
			</p>

			<p class="text-about">
				It’s important to note that during interviews I’ve had no sway or influence over the subjects. My intrusion in their life is limited to the three questions at hand, allowing them to be the -only- influence upon the subject. This work is also not a commentary but a report. As such, this work should be a tool. A tool for a journey of self-retrospection through that of others. 
				<br><br>
				<em>I hope you enjoy the journey.</em>
			</p>
		</article>

		<div id="signature">
			<img src="/img/firma.png" alt="" title="">
		</div>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}