{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<img src="/img/ballons/Esfera1.png" title="" alt="">
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<img src="/img/ballons/Esfera2.png" title="" alt="">
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<img src="/img/logo.png" title="" alt="" class="logo">
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<img src="/img/ballons/Esfera3.png" title="" alt="">
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<img src="/img/ballons/Esfera4.png" title="" alt="">
			</li>
		</ul>
	</header>
{% endblock %}

{% block menu %}
	<section id="menu">
		<ul>
			<li><a href="#">about looking[FAR]</a></li>
			<li class="separate">|</li>
			<li><a href="#">buy the looking[FAR] book</a></li>
			<li class="separate">|</li>
			<li><a href="#">connections</a></li>
			<li class="separate">|</li>
			<li><a href="#">contact us</a></li>
		</ul>
	</section>
{% endblock %}

{% block social-menu %}
	<section id="social-menu">

		<div id="post-here">
			<a href="#" style="color:transparent">Post your own here</a>
		</div>

		<div id="networks">
			<ul>
				<li>
					<a href="https://www.facebook.com/lookingfar2013" target="_blank">
						<img src="/img/networks/BotonFacebook.png" title="Like" alt="Like">
					</a>
				</li>
				<li>
					<a href="http://instagram.com/lookingfar" target="_blank">
						<img src="/img/networks/BotonInstagram.png" title="Share" alt="Share">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/_LookingFAR" target="_blank">
						<img src="/img/networks/BotonTwitter.png" title="Follow" alt="Follow">
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}

{% block container %}
	
	<section class="container">
		<section id="post-form">
			<h1>Post your Looking[FAR] here:</h1>

			<div id="social-login">
				<a href="/auth/facebook" class="fb-login">[Sign in with Facebook]</a>
				<a href="#" class="tw-login">[Sign in with twitter]</a>
			</div>

			<div id="login">
				<form action="#" method="post">
					<span>
						<label for="email">email: </label>
						<input type="text" id="email" name="email">
					</span>
					<span>
						<label for="name">name: </label>
						<input type="text" id="name" name="name">
					</span>
					<span>
						<label for="age">age: </label>
						<input type="text" id="age" name="age">
					</span>
					<span>
						<label for="country">country: </label>
						<input type="text" id="country" name="country">
					</span>
					<span>
						<label for="city">city: </label>
						<input type="text" id="city" name="city">
					</span>
					<span>
						<label for="fear">fear: </label>
						<textarea id="fear" name="fear" rows="2" cols="50"></textarea>
					</span>
					<span>
						<label for="aspiration">aspiration: </label>
						<textarea id="aspiration" name="aspiration" rows="2" cols="50"></textarea>
					</span>
					<span>
						<label for="regreat">regreat: </label>
						<textarea id="regreat" name="regreat" rows="2" cols="50"></textarea>
					</span>

					<button>Post!</button>
					<button>Cancel!</button>
				</form>
			</div>
		</section>		
	</section><!-- container -->
{% endblock %}

{% block scripts %}
	
{% endblock %}