{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far-original.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/wesley"><img src="/img/ballons/Esfera9.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/danielle"><img src="/img/ballons/Esfera10.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/">[looking<strong>FAR</strong>]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/nolane"><img src="/img/ballons/Esfera11.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lindsay"><img src="/img/ballons/Esfera12.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		<!--h1>About Looking[FAR]</h1-->
		<ul class="slides">
			<li>
				<img src="/img/connections/Connections-1.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-2.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-3.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-4.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-5.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-6.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-7.png" alt="">
			</li>
			<li>
				<img src="/img/connections/Connections-8.png" alt="">
			</li>
		</ul>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type='text/javascript' src='/js/bxslider.js'></script>
	<script>
		$('.container ul.slides').bxSlider({
			mode: 'horizontal',
			auto: true,
			minSlides: 1,
			responsive: true,
			touchEnabled: true,
			pager: false,
			controls: false,
			useCSS: false,
			pause:3500
		})
	</script>
{% endblock %}