{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/wesley"><img src="/img/ballons/Esfera9.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/steve"><img src="/img/ballons/Esfera14.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<!--a href="/">[looking<strong>FAR</strong>]</a-->
				<a href="/">
					<img class="logo" src="/img/logo_far.png" alt="">
				</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/brett"><img src="/img/ballons/Esfera7.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/victor"><img src="/img/ballons/Esfera4.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article>
			<div class="hero">
				<img src="/img/storys/Historia6.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Afraid of being alone. I don’t like to go to bed by myself</p>
				<p><strong>A.</strong> To be an Olympic figure skater</p>
				<p><strong>R.</strong> Not taking part in the Art Reach photo workshop thinking it would be boring, turned 
   out to be really cool</p>	
			</div>

			<div class="story-info">
				<p>Danielle Davis, 11</p>
				<p>Las Vegas, Nevada</p>
			</div>

			<div class="story-bio">
				<p>
					[Las Vegas, NV] Sin City, it’s 11:00AM and it’s my 4th beer at the 4th strip bar. I’m not here for the entertainment or the drinks; “grab a beer at the bar and we’ll see”, “Sorry you’ll have to talk to management”, “I’m afraid that I could lose my job”. It’s becoming evident that I’ve failed to find an exotic dancer willing to be interviewed. Feeling defeated and slightly dazed from the pre-breakfast beers, I find myself walking through an off the beaten path area of the city. I read a sign “Casa de Luz”, there’s a group of people outside as if they’ve just come out of a service, plenty of hugs are going around. A girl with a huge smile waves hello and gives me enough courage to approach them. 
					<br><br>
					It’s a church and community centre. The girl with the big smile is Nicole Moore, she introduces me to the Pastors Laura and Dan, as well as the kids that spend most of their days there after school with planned activities, keeping them safe and out of trouble while helping parents with double shifts and other challenges.
					<br><br>
					Laura tells me in the 2 years they’ve been operating, the neighbourhood has seen a 50% drop in drug addictions and homicides which have plagued the neighbourhood.
					<br><br>
					Having spotted my camera gear, the kids are eager to show me their recent art workshop. They’ve been taking photos around the neighbourhood with disposable cameras, hanging around the main room, they’re framed like a proper gallery. Sam, 11 is tells me he wants to travel to China and see the great wall. There’s an authentic pureness to Sam’s character that I’ve seem to have lost long ago. “Do you know you can actually camp on it and walk it all across China?” I ask him while I show him pictures of my own visit to the wall at Badaling.
					<br><br>

					Danielle, 11 tells me just last week she went ice skating for the first time. She was so good at it and had such a great time that  it made her decide right there and then that she wants to become an Olympic skater. It was hard for me not to want to adopt her, there was a Zen like calmness to her that I‘ve rarely seen in an 11 year old. Probably the first time I’ve ever felt the paternal instinct. Her fear of “going to bed alone at night” moved me even more.
					<br><br>

					As I’m preparing to leave, Pastor Laura asks me to wait, while I keep talking to the kids. “This is to help you with your project”, To my surprise, Laura had come back with a hundred dollar bill in her hand. I can’t remember how many times I declined, I could not take this money, this should be for the kids, but she would have none of that.
					<br><br>

					As I was leaving Nicole and her husband offered a prayer for my safety on the roads and I realized just how long it’s been since I’ve prayed for anything myself. 
					<br><br>

					Slowly walking away waving goodbye, I’m a bit of a wreck. I came into Vegas thinking of interviewing the adult entertainment industry and came out with the amazing experience of interviewing kids. 
					<br><br>

					A couple of blocks away I walk into a diner and order a cup of coffee to compose myself. After some thought, I find myself staring down at a couple dollar bills change for my coffee when I spot a mistake. I decided to correct it and left it in the tip jar.
				</p>
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}