{% extends 'layout.html' %}

	{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header id="header">
		<ul>
			<li class="hide ballon">
				<a href="/maria"><img src="/img/ballons/Esfera1.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lee"><img src="/img/ballons/Esfera2.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<!--a href="/">[looking<strong>FAR</strong>]</a-->
				<a href="/">
					<img class="logo" src="/img/logo_far.png" alt="">
				</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/josette"><img src="/img/ballons/Esfera3.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/victor"><img src="/img/ballons/Esfera4.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section id="posts" class="container">
			<section id="post-far">
				<div id="fig">
					<figure>
						<img src="/img/profile.png">
					</figure>
				</div>
				<div>
				
					<ul>
						<li> <a href="/auth/facebook"><img src="/img/networks/facebook.png"></a></li>
						<li> <a href="/auth/twitter"><img src="/img/networks/twitter.png"></a> </li>
						<!--li> <button data-toggle="modal" data-target="#modal-post-normal">Upload from file</button> </li-->
						<li> <a href="#modal-post-normal" data-toggle="modal"><img src="/img/networks/upload.png"></a> </li>
					</ul>
					<section>
						<span>
							<label for="fear_post"><strong>F:</strong></label>
							<input type="text" id="fear_post" name="fear_post" maxlength="140" placeholder="your fear" />
						</span>

						<span>
							<label for="aspiration_post"><strong>A:</strong></label>
							<input type="text" id="aspiration_post" name="aspiration_post" maxlength="140" placeholder="your aspiration" />
						</span>

						<span>
							<label for="regret_post"><strong>R:</strong></label>
							<input type="text" id="regret_post" name="regret_post" maxlength="140" placeholder="your regret" />
						</span>
						<span class="buttons">
							<button id="btnpost" data-toggle="modal" data-target="#modal-post-normal">Post your FAR!</button>
						</span>
					</section>
				</div>
			</section>
		{% for post in posts %}
			<article>
				<figure>
					{% if post.socialog == 1 %}
						<img class="img-post" src="{{ post.photo }}" alt="" title="">
					{% else %}
						<img class="img-post" src="/img/posts/{{ post.photo }}" alt="" title="">
					{% endif %}
				</figure>
				<div class="far">
					<div class="fear">
						<p class="far-text"><strong>F:</strong></p> <p>{{ post.userfear }}</p>
					</div>
					<div class="aspiration">
						<p class="far-text"><strong>A:</strong></p> <p>{{ post.useraspiration }}</p>
					</div>
					<div class="regreat">
						<p class="far-text"><strong>R:</strong></p> <p>{{ post.userregreat }}</p>
					</div>
					<p class="info">{{post.username}}, {{ post.userage }} years, {{post.usercity}}, {{post.usercountry}}</p>
				</div>
				<div class="share">
					<ul>
						<li><a class="share-facebook">share on Facebook</a></li>
						<li><a class="share-twitter">share on Twitter</a> </li>
					</ul>
				</div>
			</article>
		{% endfor %}

	</section><!-- container -->
{% endblock %}

{% block scripts %}
		
{% endblock %}