{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/lee"><img src="/img/ballons/Esfera2.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/steve"><img src="/img/ballons/Esfera14.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test">[looking<strong>FAR</strong>]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/brett"><img src="/img/ballons/Esfera7.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/danielle"><img src="/img/ballons/Esfera10.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">

		<article>
			<div class="hero">
				<img src="/img/storys/Historia13.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Not the Dark, but what’s in it!</p>
				<p><strong>A.</strong> To inspire people to love music, that’s made us who we are</p>
				<p><strong>R.</strong> Not meeting my beautiful future wife sooner</p>	
			</div>

			<div class="story-info">
				<p>Jake A. Slater, 21</p>
				<p>Nashville, Tennessee</p>
			</div>

			<div class="story-bio">
				
			</div>

		</article>


	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}