{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/laura"><img src="/img/ballons/Esfera13.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/steve"><img src="/img/ballons/Esfera14.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test"><img src="/img/logo.png" title="" alt="" class="logo"></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/jennifer"><img src="/img/ballons/Esfera15.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/wilton"><img src="/img/ballons/Esfera16.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article class="sixteen columns">
			<div class="hero">
				<img src="/img/storys/Historia14.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Failing to meet my goals</p>
				<p><strong>A.</strong> To try as many things &amp; visit as many places as possible</p>
				<p><strong>R.</strong> I have no regrets, everything has led me to where I am today and I am happy</p>	
			</div>

			<div class="story-info">
				<p>Jennifer Smith, 20</p>
				<p>Nashville, Tennessee</p>
			</div>

			<div class="story-bio">

				<p>
					[Nashvile, TN] Walking down Nashville’s honky tonk bar strip, I see a girl with bright blue hair, although this project is in black and white, stopping Jennifer Smith solely because of her flowing blue hair, led to one of the nicest portraits of this book.
				</p>
				
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}