<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Looking FAR is a Photo-Journalism book that asks what are your greatest Fears, Aspirations and Regrets.">
	<meta name="author" content="viviano">

	<title>{% block title %} looking[FAR] {% endblock %} </title>

	{% block head %}
	{% endblock %}

	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/favicon.png">
</head>
<body>
	{% block header %}{% endblock %}

	<section id="menu">
		<ul>
			<li><a href="/app">Post your own <strong>FAR</strong> here</a></li>
			<li class="separate">|</li>
			<li><a href="/about">about the project</a></li>
			<li class="separate">|</li>
			<li><a href="/buy">buy the book</a></li>
			<li class="separate">|</li>
			<li><a href="/connections">connections</a></li>
		</ul>
	</section>

	<!--{% block social-menu %}{% endblock %}-->
	<section id="social-menu">
		<div id="networks">
			<ul>
				<li>
					<a href="https://www.facebook.com/lookingfar2013" target="_blank">
						<img src="/img/networks/BotonFacebook.png" title="Like" alt="Like">
					</a>
				</li>
				<li>
					<a href="http://instagram.com/lookingfar" target="_blank">
						<img src="/img/networks/BotonInstagram.png" title="Share" alt="Share">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/_LookingFAR" target="_blank">
						<img src="/img/networks/BotonTwitter.png" title="Follow" alt="Follow">
					</a>
				</li>
				<li>
					<a href="http://vimeo.com/lookingfar" target="_blank">
						<img src="/img/networks/botonvimeo.png" title="watch" alt="watch">
					</a>
				</li>
			</ul>
		</div>
	</section>

	{% block container %}{% endblock %}

	<footer>
		<ul>
			<li>©</li>
			<li><a href="http://www.vivianovillarreal.com" target="_blank">Viviano Villareal Bueron</a></li>
			<li class="separate">|</li>
			<li>
				<a href="/test">Home</a>
			</li>
			<li class="separate">|</li>
			<li>
				<a href="/contact">contact us</a>
			</li>
		</ul>
	</footer>

	{% block scripts %} {% endblock %}
</body>
</html>