<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Looking FAR is a Photo-Journalism book that asks what are your greatest Fears, Aspirations and Regrets.">
	<meta name="author" content="viviano">

	<title>{% block title %} looking[FAR] {% endblock %} </title>

	{% block head %}
	{% endblock %}

	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/favicon.png">
</head>
<body>
	{% block header %}{% endblock %}

	{% block menu %}{% endblock %}

	{% block social-menu %}{% endblock %}

	{% block container %}{% endblock %}

	{% block scripts %} {% endblock %}
</body>
</html>