{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/kid"><img src="/img/ballons/Esfera5.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/brett"><img src="/img/ballons/Esfera7.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test">[looking<strong>FAR</strong>]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/nolane"><img src="/img/ballons/Esfera11.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/laura"><img src="/img/ballons/Esfera13.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article>
			<div class="hero">
				<img src="/img/storys/Historia15.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Not enjoying and being happy throughout the pursuit of my goals</p>
				<p><strong>A.</strong> To start a family that comes out of pure love</p>
				<p><strong>R.</strong> Regret not keeping in touch with past friends in different places</p>	
			</div>

			<div class="story-info">
				<p>Lindsey Dahlgren, 24</p>
				<p>Manhattan, New York</p>
			</div>

			<div class="story-bio">
				<p>
					Perhaps it was Lindsey Dahlgren, 24 who was most unexpected to me. As I was walking back to my friend’s apartment, after a long cold day of approaching, meeting and interviewing people on the streets of NY, when I spot what I thought was an approachable subject. Unfortunately, as I get up to her I realize she’s working handing out talk show tickets. 
					<br><br>
					One of the most difficult things of interviewing someone is disturbing them. You do-not want to distract them from what they are doing (too long) or put them off, because even if they grant you and interview the answers may be tainted by haste. 
					<br><br>
					People on the streets tend to be in a hurry (especially in New York), and there’s no worse moment to approach someone than when they are busy trying to make a living (see page 20 for proof!). 
					<br><br>
					I had then given up on the attempt of interviewing her, but all that changed when she said with subdued excitement “You’re my last ticket! I can go home now”, to which I quickly replied, “Well, if you’re done, could I interview you?”.
					<br><br>
					Lindsey was worried that perhaps her story was not as interesting as other ones out there on the streets of New York. But as I walked her through the questions at that corner of Broadway &amp; 6th, it became one of the most enjoyable and free flowing interviews I had in New York. I realized that although we led very different lives, we shared common goals and concerns. Thanks for the ticket Lindsey!
				</p>
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}