{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/kid"><img src="/img/ballons/Esfera5.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/laura"><img src="/img/ballons/Esfera13.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/">[looking<strong>FAR</strong>]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/wesley"><img src="/img/ballons/Esfera9.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/victor"><img src="/img/ballons/Esfera4.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article>
			<div class="hero">
				<img src="/img/storys/Historia1.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Flying and things that are out of my control</p>
				<p><strong>A.</strong> To keep a happy family and a good job </p>
				<p><strong>R.</strong> Being far from my loved ones back in Puerto Rico, especially my friends from the 
					  olympic team we would travel a lot together, I miss that freedom and happiness we 
					  shared
				</p>	
			</div>

			<div class="story-info">
				<p>María Victoria López, 56</p>
				<p>The Bronx, New York</p>
			</div>

			<div class="story-bio">

			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}