{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/laura"><img src="/img/ballons/Esfera13.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/jake"><img src="/img/ballons/Esfera6.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test"><img src="/img/logo.png" title="" alt="" class="logo"></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lee"><img src="/img/ballons/Esfera2.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/danielle"><img src="/img/ballons/Esfera10.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article class="sixteen columns">
			<div class="hero">
				<img src="/img/storys/Historia7.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> I have no fears, I’ve lost my children, cannot loose anything else.</p>
				<p><strong>A.</strong> To mend the broken heart while it’s still beating.</p>
				<p><strong>R.</strong> Not having spent more time with my children outdoors.</p>	
			</div>

			<div class="story-info">
				<p>Steve Fugate, 67</p>
				<p>26mi West of Kayenta, HWY US 160 East</p>
			</div>

			<div class="story-bio">

				<p>
					Mortality is a difficult concept for all of us and it was no different during the making of this book. Few things can impact our lives as much as mortality and how we deal with it.
					<br><br>
					It seems to be that in our lives we deal with the notion of our time on Earth being finite and counted for through either apathy or entrepreneurship.
					<br><br>

					From Reynaldo Ramirez, who has lived a life free of fears <em>“We’re all gonna die so why worry about it”</em>, Leo Gutierrez’s worry about not being there for his children due to his dangerous job in the West Texas oil fields to Lee Schultz’s urgency to teach at 70 years of age and Steve Fugate’s incredible “Love Life” journey. 
					<br><br>
					This ultimate equalizer affects us all young and old and yet, it is the fact that every living moment may well be the last, that makes it all that much more beautiful. 
					<br><br>
					[Kayenta, AZ] On a lonely stretch of Arizona’s route 160, I spot at a distance a figure walking with a large sign reading “LOVE LIFE” in big red letters. 
					<br><br>
					I pull a U-turn and ask the inevitable questions. Why was this man walking out on the desert miles away from any town? What was the deal with the sign? That’s when Steve Fugate told me his story.
					<br><br>
					A few years back Steve had unfortunately lost his son “Stevie Lee Fugate” to suicide. Divorced, Steve and his only daughter Michele years later were still struggling to cope with their loss when Michele suddenly suffered a fatal prescription overdose. 
					<br><br>
					Steve was devastated; he had lost his two children. As he was coping with his tremendous loss, all he could think of was his daughter’s words of reproach towards him while grieving over her brother’s death: 
					<br><br>
					</em>“Why couldn’t you transmit your love for life to Stevie?”</em>
					<br><br>
					That’s when Steve Fugate, decided to walk. To walk across America to meet people and tell them how wonderful life is, and how they should “LOVE LIFE”.
					<br><br>
					Steve grabs my arm and says:
					<br><br>
					<em>“You see; you need to love life so much, that you fall in love with the act of breathing” 
						<br><br>
					“You need to understand that each breath you take, that’s LIFE! And that’s BEAUTIFUL!”</em>
					<br><br>
					Steve has been walking across America for the last 10 years, 33,000 miles to that day in October of 2013.
					<br><br>
					Every now and then when something gets in the way of my life, I remember Steve’s words, <em>“You need to love life so much, that you fall in love with the act of breathing”</em>, because each breath could be the last.
					<br><br>
					Keep walking Steve.
				</p>
				
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}