{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/maria"><img src="/img/ballons/Esfera1.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lee"><img src="/img/ballons/Esfera2.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test"><img src="/img/logo.png" title="" alt="" class="logo"></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/josette"><img src="/img/ballons/Esfera3.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/victor"><img src="/img/ballons/Esfera4.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block social-menu %}
	<section id="social-menu">
		<div id="networks">
			<ul>
				<li>
					<a href="https://www.facebook.com/lookingfar2013" target="_blank">
						<img src="/img/networks/BotonFacebook.png" title="Like" alt="Like">
					</a>
				</li>
				<li>
					<a href="http://instagram.com/lookingfar" target="_blank">
						<img src="/img/networks/BotonInstagram.png" title="Share" alt="Share">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/_LookingFAR" target="_blank">
						<img src="/img/networks/BotonTwitter.png" title="Follow" alt="Follow">
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}

{% block container %}
	
	<section id="posts" class="container">
		
		{% for post in posts %}
			<article class="sixteen columns">
				<figure>
					<img class="img-post" src="{{ post.photo }}" alt="" title="">
				</figure>
				<div class="far">
					<p class="fear">
						<strong>F:</strong> {{ post.userfear }}
					</p>
					<p class="aspiration">
						<strong>A:</strong> {{ post.useraspiration }}
					</p>
					<p class="regreat">
						<strong>R:</strong> {{ post.userregreat }}
					</p>
					<p class="info">{{post.username}}, {{ post.userage }} years, {{post.usercity}}, {{post.usercountry}}</p>
				</div>
				<div class="share">
					<ul>
						<li><a class="share-facebook">share on Facebook</a></li>
						<li><a class="share-twitter">share on Twitter</a> </li>
					</ul>
				</div>
			</article>
		{% endfor %}
		

		<!--article class="sixteen columns">
			<figure>
				<img src="/img/posts/Esfera6.png" alt="" title="">
			</figure>
			<div class="far">
				<p class="fear">
					<strong>fear:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="aspiration">
					<strong>aspiration:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="regreat">
					<strong>regreat:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="info">Jalaya Serpan, 8 years, Began, Myarmar</p>
			</div>
			<div class="share">
				<ul>
					<li><a class="share-facebook">share on Facebook</a></li>
					<li><a class="share-twitter">share on Twitter</a> </li>
				</ul>
			</div>
		</article>

		<article class="sixteen columns">
			<figure>
				<img src="/img/posts/Esfera7.png" alt="" title="">
			</figure>
			<div class="far">
				<p class="fear">
					<strong>fear:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="aspiration">
					<strong>aspiration:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="regreat">
					<strong>regreat:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="info">Jalaya Serpan, 8 years, Began, Myarmar</p>
			</div>
			<div class="share">
				<ul>
					<li><a class="share-facebook">share on Facebook</a></li>
					<li><a class="share-twitter">share on Twitter</a> </li>
				</ul>
			</div>
		</article>

		<article class="sixteen columns">
			<figure>
				<img src="/img/posts/Esfera8.png" alt="" title="">
			</figure>
			<div class="far">
				<p class="fear">
					<strong>fear:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="aspiration">
					<strong>aspiration:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="regreat">
					<strong>regreat:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p class="info">Jalaya Serpan, 8 years, Began, Myarmar</p>
			</div>
			<div class="share">
				<ul>
					<li><a class="share-facebook">share on Facebook</a></li>
					<li><a class="share-twitter">share on Twitter</a> </li>
				</ul>
			</div>
		</article-->

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}