{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/jake"><img src="/img/ballons/Esfera6.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lee"><img src="/img/ballons/Esfera2.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test">[ looking<strong>FAR</strong> ]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/wilton"><img src="/img/ballons/Esfera16.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lindsay"><img src="/img/ballons/Esfera12.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article class="sixteen columns">
			<div class="hero">
				<img src="/img/storys/Historia4.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> My kids getting hurt</p>
				<p><strong>A.</strong> Getting better at my music</p>
				<p><strong>R.</strong> Not finishing business school</p>	
			</div>

			<div class="story-info">
				<p>Victor Chirinos, 39</p>
				<p>Las Vegas, Nevada</p>
			</div>

			<div class="story-bio">
				<p>
					[ Las Vegas, NV] I’m walking along the old strip, where shotgun wedding chapels, topless bars and shooting galleries all peacefully co-exist.
					<br><br>
					It’s a warm autumn morning, I spot a Tatto parlour and decide to walk in. As I go through the different designs on the wall, I’m wondering what would I get if I were to permanently brand myself. 
				</p>

				<p> 
					<em>“Is this your first tattoo?”.</em> Victor Chirinos, 39 covered in tattoos is stretching out his hand like a well seasoned car salesman. <br><br>

					<em>“It would be!” I said, “But I’m actually not here for a tattoo”.</em> 
					I start talking to 	Victor about his tattoos. I wanted to find out if there was a particular one that meant something special to him? With  a slightly condescending smile, Victor tells me.
				</p>

				<p>
					<em>“Nah man, with kids today it’s all about it meaning something, back then tattoo’s were just tattoos, their just cool man”</em>
				</p>
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}