{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/laura"><img src="/img/ballons/Esfera13.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/kid"><img src="/img/ballons/Esfera5.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<!--a href="/">[looking<strong>FAR</strong>]</a-->
				<a href="/">
					<img class="logo" src="/img/logo_far.png" alt="">
				</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/maria"><img src="/img/ballons/Esfera1.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lindsay"><img src="/img/ballons/Esfera12.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article>
			<div class="hero">
				<img src="/img/storys/Historia11.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> Fear is a delicate balance between Fear/Faith, I am working towards no fear, just 
   faith </p>
				<p><strong>A.</strong> To walk humbly &amp; justly before man and God</p>
				<p><strong>R.</strong> No regrets. Jesus has forgiven and replaced regret with joy &amp; peace</p>	
			</div>

			<div class="story-info">
				<p>Wesley Spears, 69</p>
				<p>Marathon, Texas</p>
			</div>

			<div class="story-bio">
				
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}