{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/far.css">
{% endblock %}

{%block header %}
	<header>
		<ul>
			<li class="hide ballon">
				<a href="/victor"><img src="/img/ballons/Esfera4.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/lindsay"><img src="/img/ballons/Esfera12.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li>
				<a href="/test">[looking<strong>FAR</strong>]</a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/jennifer"><img src="/img/ballons/Esfera15.png" title="" alt=""></a>
			</li>
			<li class="hide dot">
				<p>. . .</p>
			</li>
			<li class="hide ballon">
				<a href="/airmen"><img src="/img/ballons/Esfera8.png" title="" alt=""></a>
			</li>
		</ul>
	</header>
{% endblock %}

{% block container %}
	
	<section class="container">
		
		<article>
			<div class="hero">
				<img src="/img/storys/Historia12.png" alt="" title="">
			</div>
			<div class="story-far">
				<p><strong>F.</strong> I fear -Uncertainty-</p>
				<p><strong>A.</strong> To become a firefighter in Maryland </p>
				<p><strong>R.</strong> Not having done more military time sooner</p>	
			</div>

			<div class="story-info">
				<p>Wilton Nhek, 24</p>
				<p>Manhattan, New York</p>
			</div>

			<div class="story-bio">

				<p>
					My most memorable discussion was a short one, with Marine Wilton Nhek. It was Veterans Day in NYC and he was being followed by two of his civilian friends, who clearly were very proud of him on this important day.
					<br><br>
					I approached Wilton explaining the idea of this book and what I hoped to accomplish with it. When I asked the first question; 
					<br><br>
					<em>“What are your fears in life?” </em>
					<br><br>
					One of his buddies with a slightly cocky tone bursted
					<br><br>
					<em>“Man he’s not afraid of anything, he’s a Marine”</em>
					<br><br>
					With a quick glance Wilton gave his friend a slight grin that seemed to acknowledge and exonerate him of knowing little on armed forces; That fears were not a sign of weakness or for the cowardly, but that it was a strong person who knew what his fears and limitations were. 
					<br><br>
					Most people find this a hard question to answer, usually hesitating and choosing to answer it last, not Wilton. Without any hesitation, Wilton looked me straight in the eye and said <em>“I fear uncertainty”</em>.
				</p>
				
			</div>

		</article>

	</section><!-- container -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
{% endblock %}